<template>
  <div id="app">
    <transition name="component-fade" mode="out-in">
      <div :is="component"></div>
    </transition>
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view /> -->
  </div>
</template>
<script>
import { mapState } from "vuex";
import landingpage from "@/views/LandingPage.vue";

export default {
  computed: {
    ...mapState("layoutModule", {
      component: (state) => state.layout,
    }),
  },
  components: { landingpage },
};
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.3s ease;
}
.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}
</style>
